@import '@Project/css/variables.scss';
@import '@Project/css/d3-tip.scss';

$a11y_on_black: #969696;
$a11y_on_blue: #c2c2c2;
$a11y_on_teal: #CFCFCF;

.chartSection {
    width: 100%;
    max-width: 650px;
    background-color: $lightest_gray;
    margin: 0;
    &.chartSection0 {
        margin: 0 auto 2em;
        background-color: #fff;
    }
    &:not(.chartSection0) {
        th[scope="row"] button {
            left: 0;
        }
        & > table th[scope="row"], & > .sectionHead {
            padding-left: 1.5rem;
        }
        .childCell {
            border-bottom-color: #153164;
        }
    }
    &.chartSection2 {
        background-color: lighten($light_blue, 2%);
        & > table th[scope="row"], & > .sectionHead {
            padding-left: 2.25rem;
        }
        th[scope="row"] button {
            left: 0.4rem;
        }
        .childCell {
            border-bottom-color: #004344;
        }

    }
    &.chartSection3 {
        background-color: lighten(#b0dfdd,17%);
        & > table th[scope="row"], & > .sectionHead {
            padding-left: 3rem;
        }
        th[scope="row"] button {
            left: 0.8rem;
        }
    }
    .sectionHead {
        text-align: center;
        position: relative;
        cursor: default;
    }
    table {
        width: 100%;
        @media screen and (min-width: 400px){
            table-layout: fixed;
        }

    }
    tr {
        cursor: pointer;
        @media screen and (max-width: 399px){
            padding-top: 10px;
        }
    }
    &.isLastSection tr {
        cursor: default;
    }
    th, td {
        padding: 0.625rem;
        background-color: inherit;
        border: none;
    }
    td {
        height: 62px;
        text-align: center;
        &.v  {
            color: darken($teal, 20%);
        }
        &.dv  {
            color: darken($orange, 10%);
        }
        &.ev  {
            color: $red;
        }
        &.childCell {
            display: none;
            padding: 0;
            border-bottom: 1px solid $dark_gray;
            &.isExpandedChild {
                display: table-cell;

            }
            .sectionHead {
                position: sticky;
                top: 100px;
                text-align: left;
                font-size: 1rem;
                color: #fff;
                background-color: $dark_gray;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                margin: 0 0 62px 0;
                display: flex;
               // justify-content: space-between;
                align-items: baseline;
                flex-wrap: wrap;
                z-index: 1;
                @media screen and (max-width: 910px){
                    top: 98px;
                }
                .filtersDisplay {
                    margin-left: 0.4em;
                    color: $a11y_on_black;
                    font-weight: normal;
                    font-size: 0.85em;
                    span {
                        font-weight: 600;
                        color: lighten($a11y_on_black, 15%);
                    }
                }
            }
            table {
                margin-top: -62px;
            }
            .chartSection2 {
                .sectionHead {
                    background-color: #153164;
                    .filtersDisplay {
                        color: $a11y_on_blue;
                        span {
                            color: lighten($a11y_on_blue, 15%);
                        }
                    }
                }
            } 
            .chartSection3 .sectionHead {
                background-color: #004344;
                .filtersDisplay {
                    color: $a11y_on_teal;
                    span {
                        color: lighten($a11y_on_teal, 15%);
                    }
                }
            }
        }

    }
    td.childCell .chartSection1 > .sectionHead {
        background-color: $dark_gray;
        color: #fff;
    }
    th:not([scope="row"]), td {
        @media screen and (max-width: 399px) {
            padding-top: 1rem;   
        }
    }
    th[scope="row"] {
        text-align: left;
        position: relative;
        @media screen and (max-width: 399px){
            /* working in Chrome and FF -- need to check others */
            display: block;
            position: relative;
            top: -9px;
            left: -10px;
            width: 0;
            white-space: nowrap;
            font-size: .85rem;
        }
    }
    
    th[scope="column"].sortedBy {
        &::after {
            content: ' \2193'; // up arrow
        }
        &.asc::after {
            content: ' \2191'; //down arrow
        }
        &.v::after  {
            color: darken($teal, 20%);
        }
        &.dv::after  {
            color: darken($orange, 10%);
        }
        &.ev::after  {
            color: $red;
        }
    }
    tbody tr {
        border-top: 1px solid $gray;
        &:first-of-type {
            border-top-color: transparent;
        }
    }
}
.intro {
    text-align: center;
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    margin-bottom: 1em;
}
.sparkline, .circles circle {
    stroke: #000;
    stroke-width: 2.3px;   
    fill: none;
    &.v {
        stroke: darken($teal, 20%);
        &.isLast {
            fill: lighten($teal, 10%);
        }
    }
    &.dv {
        stroke: darken($orange, 10%);
        &.isLast {
            fill: lighten($orange, 10%);
        }
    }
    &.ev {
        stroke: $red;
        &.isLast {
            fill: lighten($red, 10%);
        }
    }
}

.units {
    color: $a11y;
    font-weight: normal;
}
.dataPoint {
    &.v {
        fill: darken($teal, 20%);
    }
    &.dv {
        fill: darken($orange, 10%);
    }
    &.ev {
        fill: $red;
    }
    @media screen and (max-width: 399px){
        font-size: 0.85rem;
    }
}

.dummyBars rect {
    fill: transparent;
}
.tooltipDiv {
    margin-bottom: 0.25em;
    color: $a11y;

}
.tooltipHead {
    text-align: center;
    font-size: 0.85rem;
    margin: 0 0 0.25em 0;
    .v & {
        color: darken($teal, 20%);
    }
    .dv & {
        color: darken($orange, 10%);
    }
    .ev & {
        color: $red;
    }
}
.currentYear {
    font-weight: 900;
    color: $dark_gray;
   /* .v & {
        color: darken($teal, 20%);
    }
    .dv & {
        color: darken($orange, 10%);
    }
    .ev & {
        color: $red;
    }*/
}
.circles circle {
    fill: #fff;
}

.chartSVG {
    width: 100%;
    max-width: 85px;
    display: block;
    margin: 0 auto;
    overflow: visible !important;
}
.isExpanded {
    & > th {
        font-weight: 900;
        button::after {
            content: '–';
        }
        button::before {
            visibility: visible;
        }
    }
}
.expandButton {
    position: absolute;
    left: -15px;
    top: 0;
    appearance: none;
    width: 30px;
    height: 100%;
    border: none;
    background-color: transparent;
    &::after {
        content: '+';
        color: $a11y;
        position: absolute;
        left: calc(40% - 0.5px);
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate(calc(-50% + 0.5px), calc(-50% - 2px)) scale(1);
        transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        line-height: 100%;
    }
    &::before {
        content: '';
        display: block;
        border: 1px solid $a11y;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        left: 40%;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate(calc(-50%), calc(-50% - 1px)) scale(1);
        transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        position: absolute;
        visibility: hidden;
    }
    tr:hover > th &::before {
        //color: $dark_gray;
    }
    tr:hover > th &::after {
        //color: $dark_gray;
    }
    .chartSection0 .isExpanded & {
        &::after {
            color: #fff;
        }       
        &::before {
            border-color: $dark_gray;
            background-color: $dark_gray;
        }
    }
    .chartSection1 .isExpanded & {
        &::after {
            color: #fff;
        }       
        &::before {
            border-color: #153164;
            background-color: #153164;
        }
    }
    .chartSection2 .isExpanded & {
        &::after {
            color: #fff;
        }       
        &::before {
            border-color: #004344;
            background-color: #004344;
        }
    }
}





