@import '@Project/css/variables.scss';
@import '@Project/css/d3-tip.scss';

$a11y_on_black: #969696;
$a11y_on_blue: #c2c2c2;
$a11y_on_teal: #CFCFCF;

//$color-level-2: #153164;
//$color-level-3: #004344;
$color-level-2: #000;
$color-level-3: #000;

* {
   // outline: 1px solid cyan;
}

.closeAllRows {
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: #fff;
    font-size: 0.85rem;
    position: absolute;
    right: 28px;
    bottom: 11px;
    @media screen and (max-width: 625px) {
        bottom: 6px;
    }
    &:hover, &:focus {
        text-decoration: underline;
    }
}
.chartSection {
    width: 100%;
    max-width: 650px;
    margin: 0;

    &.chartSection0 {
        margin: 128px auto 2em;
        background-color: #fff;
        & > table {
            @media screen and (max-width: 625px){
                width: 100vw;
                margin-left: -18px;
            }
             @media screen and (max-width: 470px){
                margin-left: -25px;
            }
            > tr > td.childCell.isExpandedChild {
                border-left: 1px solid #000;
                &::before {
                    display: none;
                }
            }
        }
    }
    &:not(.chartSection0) {
        tr {
            background-color: #f8f8f8;
        }
        th[scope="row"]::before {
            left: 14px;
            background-color: $color-level-2;
        }
        th[scope="row"] button {
            left: 0;
            @media screen and (max-width: 625px) {
                left: 0.625rem !important;
            }
        }
        & > table th[scope="row"], & > .sectionHead {
            //padding-left: 1.75rem;
            padding-left: 28px;
            
        }
        & > table th[scope="row"] {
            @media screen and (max-width: 625px ) {
                padding-left: 0.625rem !important;
                margin-right: -0.625rem;               
            }
        }

        td.childCell.isExpandedChild::before {
                left: 14px;
                background-color: $color-level-2;
        }
    }
    &.chartSection2, &.chartSection3 {
        &::before {
            content: '';
            display: block;
            width: 14px;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 1;
            @media screen and (max-width: 625px) {
                display: none;
            }
        }
    }
    &.chartSection3::before {
        width: 28px;
    }
    &.chartSection2 {
        th[scope="row"]::before {
            left: 28px;
            background-color: $color-level-3;
        }
        & > table th[scope="row"] {
            padding-left: 42px;
        }
        & > .sectionHead {
            margin-left: 14px !important;
            @media screen and (max-width: 625px) {
                margin-left: 0 !important;
            }
        }
        th[scope="row"] button {
            left: 6px;
        }
        .childCell {
            border-bottom-color: $color-level-3;
        }
        td.childCell.isExpandedChild::before {
                left: 28px;
                background-color: $color-level-3;
        }
    }
    &.chartSection3 {

        & > table th[scope="row"] {
            padding-left: 48px;
        }
        & > .sectionHead {
               padding-left: 20px;
               margin-left: 28px !important;
               @media screen and (max-width: 625px) {
                   margin-left: 0 !important;
               }
           }
        th[scope="row"] button {
            left: 13px;
        }
    }
    .sectionHead {
        text-align: center;
        position: relative;
        cursor: default;
    }

    table {
        
        width: 100%;
        @media screen and (min-width: 626px){
            table-layout: fixed;
        }

    }
    tr {
        cursor: pointer;
        @media screen and (max-width: 625px){
            padding-top: 10px;
        }
        transition: transform 0.3s ease-in;
    }
    &.isLastSection tr {
        cursor: default;
    }
    th, td {
        background-clip: padding-box;
        background-color: inherit;
        border: none;
    }
    th {
        padding: 10px;
    }
    td {
        padding: 0;
        height: 62px;
        text-align: center;
        &.v  {
            //color: darken($blue, 20%);
            color: $blue;
        }
        &.dv  {
            //color: darken($green, 10%);
            color: $green;
        }
        &.ev  {
            color: $red;
        }
        &.childCell {
            display: none;
            position: relative;
            padding: 0;
            &.isExpandedChild {
                display: table-cell;
                table {
                    background-color: #f8f8f8;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #000;
                    z-index: 1;
                    @media screen and (max-width: 625px) {
                        display: none;
                    }
                }

            }
            .sectionHeadText {
                max-width: calc(100% - 100px);
            }
            .sectionHead {
                position: static; // for browsers that don't do sticky: make sure top value doesn't displace
                position: sticky;
                top: 100px;
                text-align: left;
                font-size: 1rem;
                color: #fff;
                background-color: #000;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                margin: 0;
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                border-top: 1px solid $light_gray;
                @media screen and (max-width: 910px){
                    top: 98px;
                }
                @media screen and (max-width: 625px) {
                    width: 100vw;
                    padding: 0.3125rem 0.625rem;
                }

                .filtersDisplay {
                    margin-left: 0.4em;
                    color: #fff;
                    font-weight: normal;
                    font-size: 0.85em;
                    span {
                        font-weight: 600;
                        color: #fff;
                    }
                }
            }
            h3.sectionHead {
                z-index: 3;
                @media screen and (max-width: 625px){
                    z-index: 1;
                }
            }
            h4.sectionHead {
                top: 142px;
                z-index: 2;
                @media screen and (max-width: 910px){
                    top: 139px; 
                }
                @media screen and (max-width: 625px){
                    top: 129px; 
                }
            }
            h5.sectionHead {
                top: 184px;
                z-index: 1;
                @media screen and (max-width: 910px){
                    top: 180px; 
                }
                @media screen and (max-width: 625px){
                    top: 160px; 
                    z-index: 3;
                }
            }
            table {
                //margin-top: -62px;
            }
            .chartSection2 {
                .sectionHead {
                    background-color: $color-level-2;
                }
            } 
            .chartSection3 .sectionHead {
                background-color: $color-level-3;
            }
        }

    }
    td.childCell .chartSection1 > .sectionHead {
        background-color: #000;
        color: #fff;
    }
    th:not([scope="row"]), td {
        @media screen and (max-width: 625px) {
            padding-top: 1rem;   
        }
    }
    .hasNoValues td {
        @media screen and (max-width: 625px) {
            padding-top: 0;   
        }
    }
    thead th {
        @media screen and (max-width: 625px){
            padding: 0;
        }
    }
    th[scope="row"] {
        text-align: left;
        padding-left: 15px;
        &::before {
            content: '';
            width: 1px;
            background-color: #000;
            position: absolute;
            left: 0;
            top: 50%;
            bottom: 0;
            display: block;
            visibility: hidden;
            @media screen and (max-width: 625px) {
                display: none;
            }
        }
        

    }
    tr:not(.hasNoValues) > th[scope="row"] {
        @media screen and (max-width: 625px){
            /* working in Chrome and FF -- need to check others */
            display: block !important;
            position: relative !important;
            top: -5px !important;
            width: 0 !important;
            white-space: nowrap !important;
            font-size: .85rem !important;
            padding-left: 0;
            padding-right: 0 !important;
            left: 0;
            background-color: transparent !important;
        }

    }
    &.chartSection0 > table > tbody > tr:not(.hasNoValues) > th[scope="row"] {
         @media screen and (max-width: 625px){
            left: 10px;
         }
    }
   
    .columnTitle {
        position: relative;
    }
    th[data-tippy-content] .columnTitle::after, th[scope="row"][data-tippy-content]::after {
        position: absolute;
        bottom: calc(50% - 7px);
        margin-left: 0.4em;
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 924 922.666015625'%3E%3Cpath fill='%23b0b0b0' d='M456.667 1.333c126.667-1.333 235.333 42 326 130s137.333 195.333 140 322C924 580 880.334 689 791.667 780.333s-196.333 138.333-323 141C342 922.666 233 879 141.667 790.333S4 594 2.667 467.333c-2.667-126.667 40.667-235.667 130-327s197.333-137.667 324-139m52 152c-28 0-49.667 8-65 24-15.333 16-23 32.667-23 50-1.333 18.667 3.667 33.333 15 44 11.333 10.667 27.667 16 49 16 25.333 0 45.667-7.333 61-22 15.333-14.667 23-32.667 23-54 0-38.667-20-58-60-58m-120 594c20 0 48-8.667 84-26s71.333-43.333 106-78l-18-24c-32 24-56 36-72 36-9.333 0-10.667-12.667-4-38l42-160c17.333-64 10-96-22-96-20 0-49.667 9.667-89 29s-77.667 44.333-115 75l16 26c34.667-22.667 59.333-34 74-34 8 0 8 11.333 0 34l-36 152c-17.333 69.333-6 104 34 104'%3E%3C/path%3E%3C/svg%3E");
        @media screen and (max-width: 625px) {
            bottom: calc(50% - 11px);
            width: 10px;
            height: 10px;
            width: 11px;
            height: 11px;
        }
    }
    th[scope="row"] {
        position: relative;
        &[data-tippy-content]{
            &:hover::after,
            &:focus::after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 924 922.666015625'%3E%3Cpath fill='%23296EC3' d='M456.667 1.333c126.667-1.333 235.333 42 326 130s137.333 195.333 140 322C924 580 880.334 689 791.667 780.333s-196.333 138.333-323 141C342 922.666 233 879 141.667 790.333S4 594 2.667 467.333c-2.667-126.667 40.667-235.667 130-327s197.333-137.667 324-139m52 152c-28 0-49.667 8-65 24-15.333 16-23 32.667-23 50-1.333 18.667 3.667 33.333 15 44 11.333 10.667 27.667 16 49 16 25.333 0 45.667-7.333 61-22 15.333-14.667 23-32.667 23-54 0-38.667-20-58-60-58m-120 594c20 0 48-8.667 84-26s71.333-43.333 106-78l-18-24c-32 24-56 36-72 36-9.333 0-10.667-12.667-4-38l42-160c17.333-64 10-96-22-96-20 0-49.667 9.667-89 29s-77.667 44.333-115 75l16 26c34.667-22.667 59.333-34 74-34 8 0 8 11.333 0 34l-36 152c-17.333 69.333-6 104 34 104'%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }
    th[scope="column"]{
        transform: translateX(17px);
        @media screen and (max-width: 380px) {
            font-size: 0.85rem;
        }
    }
    th[scope="column"][data-tippy-content]::after {
        @media screen and (max-width: 380px) {
            right: -6px;
        }
        @media screen and (max-width: 350px) {
            right: 0;
            bottom: 1.7em;           
        }
    }
    th[scope="row"][data-tippy-content]::after {
        bottom: calc(50% - 6px);
        @media screen and (max-width: 625px){
            bottom: calc(50% - 5px);
            margin-left: 0.2em;
        }
    }
    /*th[scope="column"].sortedBy {
        &::before {
            position: absolute;
            left: 50%;
            bottom: calc(100% - 10px);
            transform: translateX(-50%);
            content: ' \2193'; // up arrow
        }
        &.asc::before {
            content: ' \2191'; //down arrow
        }
        &.v::before  {
            //color: darken($blue, 20%);
            color: $blue;
        }
        &.dv::before  {
            //color: darken($green, 10%);
            color: $green;
        }
        &.ev::before  {
            color: $red;
        }
    }*/
    tbody tr {
        border-top: 1px solid $gray;
        &:first-of-type {
            border-top-color: transparent;
        }
    }
}
.intro {
    text-align: center;
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    margin-bottom: 2em;
}
.sparkline {
    fill: none;
}
.sparkline:not(.dummyLine), .circles circle:not(.dummyCircle):not(.dummyCircle) {
    stroke: #000;
    &.v {
        //stroke: darken($blue, 20%);
        stroke: $blue;
        &.isLast {
            //fill: darken($blue, 20%);
            fill: $blue;
        }
    }
    &.dv {
        //stroke: darken($green, 10%);
        stroke: $green;
        &.isLast {
            //fill: darken($green, 10%);
            fill: $green;
        }
    }
    &.ev {
        stroke: $red;
        &.isLast {
            fill: $red;
        }
    }
}

path.segment {
    fill: $light_gray;
    stroke:  $light_gray;
    stroke-width: 0; 
    &.currentRow {
        .v & {
                fill: $blue;
                stroke:  $blue;
            }
        .dv & {
                fill: $green;
                stroke:  $green;
            }
        .ev & {
                fill: $red;
                stroke:  $red;
            }
        }
}

.units {
    color: $a11y;
    font-weight: normal;
}
.dataPoint {
    font-size: 14px;
    text-anchor: middle;
    font-weight: bold;
    @media screen and (max-width: 400px) {
        font-size: 16px;
        transform: translateY(7px);

    }
    &.v {
        fill: darken($blue, 10%);
        //fill: $blue;
    }
    &.dv {
        fill: darken($green, 10%);
        //fill: $green;
    }
    &.ev {
        fill: $red;
    }
    @media screen and (max-width: 399px){
       // font-size: 0.85rem;
    }
}
.dummyLine {
    stroke: #fff;
    fill: none;
    .childCell & {
        stroke: #f8f8f8;
    }
}
.dummyCircle {
    stroke: #fff;
    fill: #fff;
    .childCell & {
        stroke: #f8f8f8;
        fill: #f8f8f8;
    }
}
.dummyBars rect {
    fill: transparent;
}
.tooltipDiv {
    margin-bottom: 0.25em;
    color: $a11y;

}
.d3-tip p {
    margin: 0;
}
.tooltipHead {
    text-align: center;
    font-size: 0.85rem;
    margin: 0 0 0.25em 0;
    .v & {
        //color: darken($blue, 20%);
        color: $blue;
    }
    .dv & {
        //color: darken($green, 10%);
        color: $green;
    }
    .ev & {
        color: $red;
    }
}
.currentYear {
    font-weight: 600;
    color: $dark_gray;
   /* .v & {
        //color: darken($blue, 20%);
        color: $blue;
    }
    .dv & {
        //color: darken($green, 10%);
        color: $green;
    }
    .ev & {
        color: $red;
    }*/
}
.circles circle:not(.dummyCircle) {
    fill: #fff;
}

.chartSVG {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    overflow: visible !important;
    //outline: 1px solid cyan;
}
.isExpanded {
    & > th[scope="row"] {
        font-weight: 900;
        &::before {
            visibility: visible;
        }
        button::before {
            background-color: #000;
            background-image: url('./minus.svg');
            .chartSection1 & {
                background-color: $color-level-2;
            }
            .chartSection2 & {
                background-color: $color-level-3;
            }
        }

    }
}
.expandButton {
    position: absolute;
    left: -15px;
    top: 0;
    appearance: none;
    width: 31px;
    height: 100%;
    border: none;
    background-color: transparent;
    @media screen and (max-width: 625px) {
        top: 25px;
        left: 0;
    }

    &::before {
        content: '';
        background: transparent url('./plus.svg') no-repeat;
        display: block;
        //border: 1px solid rebeccapurple;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        left: 15px;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate(calc(-50%), calc(-50% - 1px)) scale(1);
        transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        position: absolute;
        box-sizing: border-box;
        @media screen and (max-width: 625px) {
            left: 6px;
            width: 11px;
            height: 11px;
        }
        .chartSection2 & {
            left: 22px;
            @media screen and (max-width: 625px) {
                left: 6px;
            }
        }
      //  visibility: hidden;
    }
    tr:hover > th &::before {
        //color: $dark_gray;
    }
    tr:hover > th &::after {
        //color: $dark_gray;
    }
    /*.chartSection0 .isExpanded & {
            
        &::before {
            border-color: $color-level-2;
            background-color: $color-level-2;
        }
    }
    .chartSection1 {
        
        .isExpanded & {
            &::after {
                color: #fff;
            }       
            &::before {
                border-color: $color-level-2;
                background-color: $color-level-2;
            }
        }
    }
    .chartSection2 .isExpanded & {
        &::after {
            color: #fff;
        }       
        &::before {
            border-color: $color-level-3;
            background-color: $color-level-3;
        }
    }*/
}

.headAnchor {
    position: absolute;
    top: -110px;
}
.rowIsExiting {
    transform: translateX(100vw); 
//    outline: 1px solid red;
}
.isEntering {
    //transform: translateX(100vw); 
    //outline: 1px solid green;
}
.arrowMarker {
    fill: $gray;
}
.legendAxis, .legendCenter, .ticks line, .yTicks line {
    stroke: $gray;
    stroke-width: 1px;
}
.ticks.isChild {
    display: none;
}
.ticks line {
    stroke-dasharray: 2px 2px;
}
.legendText, .ticks text, .yTicks text, .yAxisTitle {
    font-size: 10px;
    fill: $a11y;
}
.yTicks {
    transition: transform 0.3s ease-in-out;
}
.yAxisTitle {
    font-style: italic;
    &.isChild {
        display: none;
    }
}
.clone {
    opacity: 0.5;
}

.hasNoValues {
    cursor: not-allowed !important;
    font-weight: 300;
    filter: grayscale(1);
    opacity: 0.65;
    & > th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: inherit;
        padding: 0 0 0 15px;
        @media screen and (max-width: 625px){
            display: block;
            overflow: visible;
            width: 0;

        }
        &::after {
            display: none !important;
        }
    }
    td {
        height: 0;
        @media screen and (max-width: 625px){
            &:first-of-type, &:nth-of-type(3) {
                visibility: hidden;
            }
            &:nth-of-type(2) {
                visibility: visible;
            }
        }
        @media screen and (max-width: 500px){
            &:nth-of-type(2) {
                visibility: hidden;
            }
            &:nth-of-type(3) {
                visibility: visible;
            }
        }
    }
    button {
        display: none;
    }
}

.hasNoValues ~ .hasNoValues {
    border-top-width: 0 !important;
}

@media screen and (max-width: 400px) {
    g.pieInner {
        transform:  scale(1.5);
    }    
}

/* tippy overrides */

:global(.tippy-box) {
    background-color: #fff;
    color: $dark_gray;
    border: 1px solid $dark_gray;
}
:global(.tippy-arrow){
    //color: #fff;
}
:global(.tippy-box[data-placement^=top]>.tippy-arrow) {
    bottom: -1px;
} 

