@import './variables.scss';

a[href=""] {
    outline: 1px solid magenta;
    .site-logo & {
        outline: none;
    }
}

.fpo {
    outline: 1px solid magenta;
    outline-offset: 5px;
    position: relative;
    &::before {
        content: 'FPO';
        display: block;
        position: absolute;
        top: -25px;
        color: magenta
    }
}


#pew-app {
    max-width: 850px;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
}
#render-here::before {
    content: 'working ...';
    text-align: center;
    display: block;
    position: relative;
    width: 100vw;
    position: fixed;
    top: 98px;
    left: 0;
    background-color: rgba(255,255,255,0.75);
    height: 100vh;
    //transition: background-color 0.2s ease-in-out;
    visibility: hidden;
    z-index: 5;
    padding-top: calc(50vh - 100px);
    font-weight: bold;
}
#render-here.is-working {
    cursor: progress;
    &::before {
        visibility: visible;
    }
}
/*#render-here.is-working.is-working--transition > section::before {
    background-color: rgba(255,255,255,0.75);
}*/
.ie-note {
    background-color: $pew_blue;
    color: #fff;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 2rem;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
       display: block !important;
    }
    p {
        margin-bottom: 0;
        text-align: center;
    }
}