@import './variables.scss';
@import './d3-tip.scss';


.sparkline {
    stroke: #000;
    stroke-width: 2px;   
    fill: none;
}

svg {
    width: 75px;
    display: block;
    outline: 1px solid magenta;
    margin-bottom: 1em;
}

