<div id="pew-app" class="pct-section no-js">
    <!--<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Symbol%2CSet%2CArray.from%2CNodeList.prototype.forEach%2CArray.prototype.find"></script>-->
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link class="emitted-css" href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
<% } %>
	<h2>Linear scale, absolute values</h2>
	<p>Each charts is on its own scale. Vertical variability = magnitude of changes. Highlights (exaggerates) variability.</p>
	<table>
		<thead>
			<tr>
				<th></th><th>Volume</th><th>Dock value</th><th>Retail value</th>
			</tr>
		</thead>
		<tbody id="d3-container-0">
			
		</tbody>
	</table>
	<h2>Linear scale, absolute values, shared scale</h2>
		<p>Each column of charts are on the same scale. Vertical variability = magnitude of changes. Hides change in lower values.</p>
		<table>
			<thead>
				<tr>
					<th></th><th>Volume</th><th>Dock value</th><th>Retail value</th>
				</tr>
			</thead>
			<tbody id="d3-container-1">
				
			</tbody>
		</table>
	<h2>Log scale</h2>
	<p>Each chart is on its own scale. Vertical variability = relative size of changes with the individual range. V. similar to linear, not shared.</p> 
		<table>
			<thead>
				<tr>
					<th></th><th>Volume</th><th>Dock value</th><th>Retail value</th>
				</tr>
			</thead>
			<tbody id="d3-container-2">
				
			</tbody>
		</table>
		<h2>Log scale, shared</h2>
		<p>Each column of charts are on the same scale. Vertical variability = relative size of changes. Brings out some of the variability at lower ranges but still very flat. </p> 
		<table>
			<thead>
				<tr>
					<th></th><th>Volume</th><th>Dock value</th><th>Retail value</th>
				</tr>
			</thead>
			<tbody id="d3-container-3">
				
			</tbody>
		</table>
</div>
<div class="clearfix"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script class="emitted-bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>